<div>
    <h1>Sorry, this page is still under construction. Check these out while you're here.</h1>
</div>
<div id="projects-container">
    <app-display-box
        title="Discord Quotes Bot"
        description="A Discord bot that watches for specific reactions on messages,
    and then reposts the message into a quotes channel using a webhook disguised
    as the original message author."
        link="https://github.com/jlaviole90/discord-quotes-bot"
    >
    </app-display-box>
    <app-display-box
        title="Discord Tier List Bot"
        description="A Discord bot with build a built in PostgreSQL database, where users
    can create their own tables, and store numerical data in them tied to
    specific server members."
        link="https://github.com/jlaviole90/discord-tier-list-bot"
    >
    </app-display-box>
    <app-display-box
        title="CLI Websocket Chat"
        description="A client and server written in Go that hosts a websocket chat directly
    in the terminal."
        link="https://github.com/jlaviole90/clich"
    >
    </app-display-box>
</div>
