#grid-container {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 0px;
    cursor: pointer;

    transform: perspective(350px) rotateX(50deg);
}

