/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Source Code Pro", monospace;
}

html,
main,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.grid-box {
  height: 4.5vw;
  width: 4.5vw;
}

.grid-box-transition {
  outline: solid white 1px;
  animation: boxIn 1.5s linear;
}

@keyframes boxIn {
  0% { outline: solid transparent 1px; }
  100% { outline: solid white 1px; }
}
